---
layout: page
title: Let's work together!
permalink: /contact/
---

<p>
    Tell me about your project, send me a demo and I'll get back to you as soon as I can.  Or, ask a question or even just say hi. :)
</p>

<div class="py2">
  {% if site.ajaxify_contact_form %}
    <form class="form-stacked">
      <input type="text" name="email" class="field-light" placeholder="Email Address">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="What would you like to say?"></textarea>
      <input type="hidden" name="_subject" value="New submission!" />
      <input type="text" name="_gotcha" style="display:none" />
      <button type='submit' class="button button-blue button-big mobile-block">Say Hello</button>
    </form>
  {% else %}
    <form action="https://formsubmit.io/send/{{ site.email }}" method="POST" class="form-stacked">
      <input type="text" name="email" class="field-light" placeholder="Email Address">
      <textarea type="text" name="content" class="field-light" rows="5" placeholder="What's your project?"></textarea>
      <input type="hidden" name="_next" value="{{ site.baseurl }}/thanks/" />
      <input type="hidden" name="_subject" value="New submission!" />
      <input type="text" name="_gotcha" style="display:none" />
      <input type="submit" class="btn btn-primary mobile-block p2 right mb2" value="Send" style="max-width: 200px">
    </form>
  {% endif %}
</div>

{% if site.ajaxify_contact_form %}
  {% include ajaxify_content_form.html %}
{% endif %}
