---
layout:     display
---


<header class="cover-container white site-header bg-gray bg-cover bg-center vh-100 relative">

    <div class="mt2 wrap">
        <div class="measure">
            <a href="{{ site.baseurl }}/" class="site-title white">{{ site.title }}</a>

            <nav class="site-nav white">
                {% include navigation.html %}
            </nav>

        </div>
    </div>

    <div class="center px2 py4">
        <h1 class="h1 h0-responsive caps mt4 mb0 regular white">GAME TRAILERS</h1>
        <p class="h3 white">
            I make video game trailers for rad people.
        </p>
        <!--<a href="#portfolio" class="scroll btn btn-outline white">Here's Proof</a>-->
    </div>


    <div class="center" style="
        position: absolute;
        width: 100%;
        bottom: 100px;">
        <!--<img class="circle mb2" src="images/testimonial/mr-clark.jpg" style="max-width: 100px;" />-->
        <!--<p class="white">"Marlon's the best." - Awesome Person"</p>-->
        <a href="#portfolio" class="scroll"><i class="fa fa-angle-down fa-3x animated infinite fadeInOutDown"></i></a>
    </div>


    <div class="video-bg bg-cover bg-center" style="background-image: url('{{ site.baseurl }}/images/header.png')">
        <video autoplay loop class="fillWidth md-show">
            <source src="{{ site.baseurl }}/images/header.mp4" type="video/mp4" />
            Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
    </div><!-- end video-container -->


</header>



<!--Recent Video-->

<div id="portfolio" class="container px2">
    <div class="clearfix mxn2">

        {% for post in site.categories['featured-video'] limit:1 %}

        <div class="clearfix p1">
            <div class="sm-col sm-col-12">
                <h3 class="mt0">Latest Vids</h3>
            </div>

            <div class="sm-col sm-col-6">
                <div class="video-wrapper">
                    <iframe src="{{ post.embed }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="sm-col sm-col-6 px2">
                <a href="{{ post.url | prepend: site.baseurl }}/#bts" class="post-link">
                    <h2>{{ post.title }}</h2>
                    <p>
                        {{ post.excerpt }}
                    </p>
                    <h6 class="caps right-align">
                        SEE BEHIND THE SCENES
                    </h6>
                </a>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<!--Video Examples-->

<div id="video-thumbnails" class="container px2">
    <div class="clearfix mxn2">

        {% for post in site.categories['homepage-video'] limit:3 %}

        <div class="sm-col sm-col-4">
            {% include video-thumbnail.html %}
        </div>

        {% endfor %}



        <div class="sm-col sm-col-12 p1 center">
            <a href="/videos/">
                <h6 class="caps right-align">
                    Watch More
                </h6>
            </a>
            <a href="{{ site.baseurl }}/contact/" class="h2 btn btn-primary m1"><h2 class="m2">Let's work together</h2></a>
        </div>

    </div>

</div>
<hr/>




<!--Testimonial-->

<ul class="lightSlider">

    <!--Single Testimonial-->
    <li>
        <div class="container">

            <div class="col-10 mx-auto center">
                <p>"Marlon was awesome to work with and went way beyond what we imaged for our trailer. Every time we'd see an updated edit, the team would get excited about the game all over again."</p>
                <div class="right container">
                    <div class="col col-4">
                        <img class="circle mb2 fit" style="max-width:90px;"  src="images/testimonial/mr-hammill.jpg" />
                    </div>
                    <div class="col col-7">
                        <h4 class="left-align light-font mt1 ml2">
                            Matt Hammill <br/>
                            <a href="http://asteroidbase.com">Asteroid Base</a>

                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </li>

    <!--Single Testimonial-->
    <li>
        <div class="container">

            <div class="col-10 mx-auto center">
                <p>"Our game's trailers generated hundreds of thousands of views thanks to Marlon's outstanding work.  Marlon always went above and beyond what we asked for, and really became an indispensable part of our team."</p>
                <div class="right container" style="min-width:250px;">
                    <div class="col col-4">
                        <img class="circle mb2 fit" style="max-width:90px;" src="images/testimonial/mr-clark.png" />
                    </div>
                    <div class="col col-7">
                        <h4 class="left-align light-font mt1 ml2">
                            Ryan Clark <br/>
                            <a href="http://braceyourselfgames.com">Brace Yourself Games</a>
                        </h4>
                    </div>
                </div>
            </div>

        </div>
    </li>

</ul>
