---
layout:     display
---


<header class="cover-container site-header white bg-gray bg-cover bg-center vh-100">



    <div class="mt2 wrap">
        <div class="measure">
            <a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a>
            <nav class="site-nav">
                {% include navigation.html %}
            </nav>
            <div class="clearfix"></div>
            {% if site.show_social_icons %}
            {% include social_links.html %}
            {% endif %}
        </div>
    </div>

    <div class="center px2 py4">
        <h1 class="h1 h0-responsive caps mt4 mb0 regular">GAME TRAILERS</h1>
        <p class="h3 white">
            I make video game trailers for rad people.
        </p>
        <a href="#portfolio" class="scroll h3 btn btn-primary mb4">Here's Proof</a>
    </div>



        <div class="video-bg">
            <video autoplay loop class="fillWidth">
                <source src="{{ site.baseurl }}/images/header.mp4" type="video/mp4" />
                Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </div><!-- end video-container -->


</header>

<div id="portfolio" class="container px2 py1">
    <div class="clearfix mxn2">

        {% for post in site.categories['featured-video'] limit:1 %}

        <div class="clearfix p1">
            <div class="sm-col sm-col-8">
                <div class="video-wrapper">
                    <iframe src="{{ post.embed }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="sm-col sm-col-4 px2">
                <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
                    <h2>{{ post.title }}</h2>
                    <p>
                        {{ post.excerpt }}
                    </p>
                    <h6 class="caps right-align">
                        Read more
                    </h6>
                </a>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<div id="video-thumbnails" class="container px2 py1">
    <div class="clearfix mxn2">

        {% for post in site.categories['homepage-video'] limit:6 %}

        {% include video-thumbnail.html %}

        {% endfor %}


        <div class="col sm-col-12 p1">
            <a href="/videos/">
                <h6 class="caps right-align">
                    See all videos
                </h6>
            </a>
        </div>

    </div>

</div>

<div class="container px2 py1">
    <div class="clearfix mxn2">

    </div>
</div>
