---
layout:     display
---


<header class="site-header white bg-gray bg-cover bg-center vh-100" style="background-image: url(images/homepage-background.png)">
    <div class="mt2 wrap">
        <div class="measure">
            <a href="{{ site.baseurl }}/" class="site-title">{{ site.title }}</a>
            <nav class="site-nav">
                {% include navigation.html %}
            </nav>
            <div class="clearfix"></div>
            {% if site.show_social_icons %}
            {% include social_links.html %}
            {% endif %}
        </div>
    </div>

    <div class="center px2 py4">
        <h1 class="h1 h0-responsive caps mt4 mb0 regular">GAME TRAILERS</h1>
        <p class="h3 white">
            I make video game trailers for rad people.
        </p>
        <a href="#" class="h3 btn btn-primary mb4">Here's Proof</a>
    </div>
</header>

<div class="container px2 py3">
    <div class="clearfix mxn2">


        {% for post in site.categories['news'] limit:1 %}

        <a href="{{ post.url }}">{{ post.title }}</a>

        {% endfor %}



        {% for post in site.categories['homepage-video'] limit:1 %}

        <div class="clearfix">
            <div class="sm-col sm-col-12 p1">
                Latest Video
            </div>
            <div class="sm-col sm-col-8 p1">
                <div class="video-wrapper">
                    <iframe src="{{ post.embed }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="sm-col sm-col-4 p1">
                <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
                    <h2>{{ post.title }}</h2>
                    <p>
                        {{ post.excerpt }}
                    </p>
                    <a class="right-align">
                        Read more...
                    </a>
                </a>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<div id="video-thumbnails" class="container">
    <div class="clearfix">

        {% for post in site.categories['homepage-video'] offset:1 limit:6 %}

        <!-- {{ post.title }} -->
        <div class="video-thumbnail col sm-col-4 p1">
            <div class="inner-wrap">
                <div class="video-overlay">
                    <div class="flex flex-center vo-text-wrap">
                        <div class="vo-text flex-auto">
                            <img src="images/play.png" width="45" />
                            <h3>{{ post.type }}</h3>
                        </div>
                    </div>
                </div>

                <a class="open-popup-link" href="#video-popup-{{ post.slug }}">
                    <img src="{{ post.videoimg }}" />
                </a>

                <div id="video-popup-{{ post.slug }}" class="video-wrapper popup mfp-hide">
                    <iframe src="{{ post.embed }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

            </div>
        </div>


        {% endfor %}

    </div>


</div>
