<footer class="center">


    <div class="container measure">
        <div class="clearfix flex flex-center">
            <div class="md-col col-3">
                <img src="/images/me.jpg" alt="Marlon Wiebe" class="circle" />
            </div>
            <div class="md-col px2 col-9">
                <p class="center">
                    I'm Marlon.  I make videos and video game trailers full-time, but like to make other digital stuff such as websites and games. :)
                </p>
            </div>
        </div>
    </div>
</div>
</footer>
