<header class="site-header px2 px-responsive">
    <div class="mt2 wrap">
        <div class="measure">
            <a href="{{ site.url }}/" class="site-title">
                <img src="/images/me.jpg" alt="Marlon Wiebe" class="circle md-hide" style="max-width:50px;"/><br class="md-hide"/>
                {{ site.title }}
            </a>

            <img src="/images/me.jpg" alt="Marlon Wiebe" class="circle md-show left" style="max-width:45px; position:relative; top:-5px;left:10px;"/>

            <nav class="site-nav">
                {% include navigation.html %}
            </nav>
            <div class="clearfix"></div>

        </div>
    </div>
</header>
