.loop-splash {
    width: 100%;
}

.about-img {

    width: 100%;
    text-align: center;

    img {
        width: 100%;
        max-width: 400px;
    }
}

.vh-100 {
    height: 100vh;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
}


#video-thumbnails {
    background: white;

    .video-thumbnail {
        overflow: hidden;

        .inner-wrap{
            position: relative;
            overflow: hidden;

            .open-popup-link img {
                display: block;
            }

            .video-overlay {
                transition: all 0.3s ease-in-out;

                position: absolute;

                bottom: 0px;
                top: 0px;
                left: 0px;
                right: 0px;
                width: 100%;

                background: -moz-linear-gradient(top, rgba(125,126,125,0) 0%, rgba(14,14,14,0.54) 35%, rgba(14,14,14,1) 65%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,0)), color-stop(35%,rgba(14,14,14,0.54)), color-stop(65%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, rgba(125,126,125,0) 0%,rgba(14,14,14,0.54) 35%,rgba(14,14,14,1) 65%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(125,126,125,0) 0%,rgba(14,14,14,0.54) 35%,rgba(14,14,14,1) 65%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(125,126,125,0) 0%,rgba(14,14,14,0.54) 35%,rgba(14,14,14,1) 65%); /* IE10+ */
                background: linear-gradient(to bottom, rgba(125,126,125,0) 0%,rgba(14,14,14,0.54) 35%,rgba(14,14,14,1) 65%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

                opacity:0;

                color: white;

                pointer-events: none;

                .vo-text-wrap {
                    height: 100%;

                    .vo-text {
                        text-align: center;
                    }
                }


            }

            &:hover {
                .video-overlay {
                    opacity: 0.85;
                }
            }
        }
    }
}

.popup {
    position: relative;
    padding: 20px;
    width: auto;
    max-width: 1000px;
    margin: 20px auto;
}

.mfp-close-btn-in .mfp-close {
    display: none;
}

.image-comment {
    text-align: center;
    width: 100%;
    display: block;
}

.header-unit {
    height: 150px;
    border: 2px solid #000;
    border-right:none;
    border-left: none;
    position: relative;
    padding: 20px;
}

.video-bg {
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -100;

    video {
        position:absolute;
        z-index:0;
        min-width: 100%;
        min-height: 100%;
    }

}
